#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #fcf7f7;
}

.login-card {
  width: 200px; /* Set the width of the box */
  height: 200px; /* Set the height of the box */
  background-color: #bdf0d0; /* Set the background color of the box */
  border: 1px solid #f4f1f1; /* Set the border style */
}
