.login-card {
    width: 200px; /* Set the width of the box */
    height: 200px; /* Set the height of the box */
    background-color: #0e0d0d; /* Set the background color of the box */
    border: 1px solid #080808; /* Set the border style */
  }